html[theme='dark-mode'] {
  filter: invert(1) hue-rotate(180deg);
}

body {
  font: normal 16px/*1.5em*/ 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000; /*哎呀！原来是#404040，这个颜色是深灰的，不如黑色本身，我说为什么字体看起来总是有点微微吃力的感觉！字体由15px/1.5em改成15.5px/1.5em会不会更好？*/
  line-height: 1.90; /*1.75改为1.80*/
  letter-spacing: 0.009em; /*原来是0.008em*/
  /*background-color: #F6F5F0;*/
}

a {
  text-decoration: none;
  color: initial;
}
/*
a:hover {
    position: relative;
    inset: 1px 0 0 1px;
}
*/
/* markdown content styles */
blockquote {
  margin: 1em 0;
  padding: 0 2em;
  background: none;
  border-left-width: 3px;
  border-left: 3px solid #d3d3d3;
  color: #222;
}

blockquote:not(:hover) {
  border-left-color: transparent;
}

hr {
  display: block;
  border: none;
  height: 2px;
  margin: 40px auto;
  background: #eee;
}

table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
  line-height: 1.5em;
}

th, td {
  text-align: left;
  padding-right: 20px;
  vertical-align: top;
}

table td, td {
  border-spacing: none;
  border-style: solid;
  padding: 10px 15px;
  border-width: 1px 0 0 0;
}
thead th, th {
  text-align: left;
  padding: 10px 15px;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #444;
  cursor: default;
  white-space: nowrap;
  border: 1px solid #dadadc;
}

tr>td {
  border: 1px solid #dadadc;
}

tr:nth-child(odd)>td {
  background: #fcfcfc;
}

h1,
h2,
h3 {
  font-weight: 700;
}
p {
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}
p,
pre {
  word-break: normal;
  overflow-wrap: anywhere;
}
.markdown-image img {
  max-width: 100%;
}
.anchor { 
  font-size: 100%; 
  visibility: hidden; 
  color:silver;
}
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a { 
  visibility: visible
}
.highlight pre {
  padding: 7px;
  overflow-x: auto;
}

.highlight {
  max-width: 100%;
  overflow-x: auto;
}
p code {
  font-family: Consolas, Courier, 'Courier New', FandolKai, monospace;
  background-color: #ddd;
  padding: 1px 1px;
  border-radius: 2px 2px;
  box-shadow: 5px 5px 5px #c0c0c0;
  word-wrap: break-word;
  text-indent: 0;
}
pre code {
  font-family: Consolas, Courier, 'Courier New', FandolKai, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  overflow-x: auto;
}
pre code, img[src$="#border"] {
  box-shadow: 5px 5px 5px #c0c0c0;
}
pre code:not([class]) {
  background: none;
}
code {
  hyphens: none;
}
pre code, pre code:hover {
  white-space: pre-wrap;
  word-break: break-all;
}

/* navigation */

nav.navigation {
  padding: 20px 20px 0;
  /*下面这段注释之后可以使得导航栏背景随body变表格*/
  /*background: #fff;
  background: rgba(255, 255, 255, 0.9);*/
  margin: 0 auto;
  text-align: right;
  z-index: 100;
}

nav.navigation a {
  text-decoration: none;
  color: initial;
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.35;
  border-radius: 3px;
}

nav.navigation a:hover {
  position: relative;
  inset: 1px 0 0 1px;
}

nav.navigation a.button {
  background: black;
  color: #fff;
  margin-left: 12px;
}
@media (max-width: 700px) {
  nav.navigation {
    padding: 20px 10px 0 0;
    /*下面这段注释之后可以使得导航栏背景随body变表格*/
    /*background: #fff;
    background: rgba(255, 255, 255, 0.9);*/
    margin: 0 auto;
    text-align: right;
    z-index: 100;
    /* scrollable menu */
    white-space: nowrap;
    overflow: auto;
  }
  nav.navigation a {
    text-decoration: none;
    color: initial;
    top: 8px;
    right: 6px;
    padding: 4px 8px; /* 原来是 8px 8px，要降低上下内边距才能看到订阅按钮的下边界 */
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
  }
  nav.navigation a:hover{
    position: relative;
    inset: 1px 0 0 1px;
  }
}

@media (max-width: 324px) {
  nav.navigation a.button {
    display: none;
  }
}

/* toc */
.toc {
  margin: auto;
  background: #f8f8f8;
  border-radius: 0;
  padding: 10px 7px;
  margin-top: 36px;
}
.toc details summary {
  cursor: zoom-in;
  margin-inline-start: 14px;
  font-weight: 500;
}
.toc details[open] summary {
  cursor: zoom-out;
}
.toc #TableOfContents {
  margin-left: 10px;
}
.toc ul {
  padding-inline-start: 24px;
}

/* comment */
#comment {
  margin-top: 64px;
}

/* footer */
#footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #bbbbbb;
  font-size: 14px;
}

#footer .copyright {
  margin: 20px auto;
  font-size: 15px;
}

#footer .copyright a {
  text-decoration: none;
  color: initial;
  border-bottom: 1px dashed;
}

#footer .copyright a:hover {
    position: relative;
    inset: 1px 0 0 1px;
}

#footer .powerby {
  margin: 20px auto;
  font-size: 13px;
}

#footer .powerby a {
  text-decoration: none;
  color: initial;
  border-bottom: 1px dashed;
}

#footer .powerby a:hover {
    position: relative;
    inset: 1px 0 0 1px;
}


#footer .split {
  cursor: pointer;
}

#footer .split:hover path {
  fill: #ff3356;
  transition: 0.7s ease-out;
  cursor: pointer;
}

#social a {
  margin: 0 4px;
}

/* main content */
.main {
  width: 100%;
  margin: 0 auto;
}

/* profile  */

.profile {
  margin: 60px auto 0 auto;
  text-align: center;
}

.profile .avatar {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile h1 {
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 20px;
  color: #404040;
  margin-bottom: 0;
  margin-top: 0;
}

.profile h2 {
  font-size: 20px;
  font-weight: 300;
  color: #757575;
  margin-top: 0;
}

/* index post list */
#list-page {
  max-width: 580px;
  margin: 0 auto;
  padding: 0 24px;
}

#list-page .item {
  margin: 12px 0;
}

/*想用这个，解锁index的<!--<img src="{{ .Params.image }}" >-->*/
/*#list-page .item img {
    width: 100%; 让图片宽度充满父容器 
    max-height: 100%; 限制图片最大高度，根据需要调整 
    object-fit: cover; 保持图片比例并填充整个容器 
    margin-top: 8px;  Adjust as needed 
    border-radius: 8px; 可选：添加圆角效果
}*/

#list-page .title {
  display: inline-block;
  color: #404040;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  width: 80%;
}

#list-page .title a:hover {
  position: relative;
  inset: 1px 0 0 1px;
}

#list-page .date {
  width: 20%;
  float: right;
  text-align: right;
  position: relative;
  top: 1px;
  color: #bbb;
}

#list-page .summary {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FandolKai, serif;
  color: /*#757575*/#404040;
  margin-top: 12px;
  word-break: normal;
  overflow-wrap: anywhere;
  margin-bottom: 36px;
}

#list-page .cover {
  width: 100px;
  height: 100px;
  background: #fff;
}

#list-page .cover img {
  width: 100%;
  text-align: center;
}

#list-page .pagination {
  margin: 48px 0;
  width: 100%;
  height: 32px;
  margin-top: 48px;
}

#list-page .pagination .pre {
  float: left;
}
#list-page .pagination .next {
  float: right;
}

/* single page */
#single {
  max-width: 630px/*默认：680px*/;
  margin: 60px auto 0 auto;
  padding: 0 64px;
}

#single .title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

#single .content a {
  text-decoration: none;
  color: initial;
  border-bottom: 1px dashed;
}

#single .content a:hover {
    position: relative;
    inset: 1px 0 0 1px;
}

@media (max-width: 700px) {
  #single {
    padding: 0 18px;
    margin: 20px auto 0 auto;
  }
  #single .title {
    font-size: 24px;
    line-height: 32px;
  }
}

#single .tip {
  text-align: center;
  color: #8c8c8c;
  margin-top: 18px;
  font-size: 14px;
}
#single .tip .split {
  margin: 0 4px;
}

#single .content {
  margin-top: 36px;
}

#single .tags {
  margin-top: 24px;
}

#single .tags a {
  /*background: #f2f2f2;*/
  /*padding: 4px 7px;*/
  text-decoration: none;
  color: #8c8c8c;
  font-size: 14px;
  margin-right: 3px;
}

#single .tags a:hover {
  color: black;
  position: relative;
  inset: 1px 0 0 1px;
}

#archive {
  max-width: 580px;
  margin: 0 auto;
  padding: 0 24px;
}

#archive a:hover {
  position: relative;
  inset: 1px 0 0 1px;
}

#archive .total {
  font-size: 15px;
}

#archive .group {
  margin: 24px auto; 
}
#archive .group .key {
  font-size: 20px;
  margin-bottom: 12px;
}
#archive .group .value {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
#archive .group .value .date {
  display: inline-block;
  color: #999;
  min-width: 60px;
}
#archive .group .value .title {
  display: inline;
}

#archive .group .value .title a {
  text-decoration: none;
  color: initial;
}

#archive .group .value .tags {
  display: inline;
  margin-left: 7px;
}
#archive .group .value .tags a {
  background: #f2f2f2;
  padding: 4px 7px;
  color: #757575;
  font-size: 14px;
  margin-right: 3px;
}
#archive .group .value .tags a:hover {
  color: black;
}

/* taxonomy */
#tags {
  max-width: 700px;
  margin: 48px auto 0 auto;
  padding: 0 12px;
  text-align: center;
}
#tags .tag {
  display: inline-block;
  margin: 7px 7px;
}
@media (max-width: 700px) {
  #tags {
    margin: 0 auto 0 auto;
  }
  #tags .tag {
    display: inline-block;
    margin: 4px 5px;
  }
}

#tags .tag a {
  background: /*#f2f2f2*/none;
  /*padding: 4px 7px;*/
  color: /*#757575*/black;
  font-size: /*14px*/15px;
  margin-right: 3px;
  /*border-bottom: dashed 1px;*/
}

#tags .tag a:hover {
  color: black;
  position: relative;
  inset: 1px 0 0 1px;
}

/* section page */
#section {
  max-width: 580px;
  margin: 48px auto 0 auto;
  padding: 0 12px;
}

#section a {
  text-decoration: none;
  color: initial;
  border-bottom: 1px dashed;
  /*box-shadow: 0 -5px rgba(189,195,199,.5)inset;
  transition: all .3s ease;*/
}

#section a:hover {
    position: relative;
    inset: 1px 0 0 1px;
    /*box-shadow: 0 -15px rgba(189,195,199,.7)inset;*/
}

/* 404 page */
#page-404 {
  max-width: 580px;
  margin: 0 auto;
  padding: 0 24px;
}

#page-404 .item {
  margin: 12px 0 0 0;
}

#page-404 .title {
  display: inline-block;
  color: #404040;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  width: 80%;
}

#page-404 .text {
  text-align: center;
  margin-top: 60px;
}

#page-404 .read-more {
  font-weight: 300;
  font-size: 20px;
  margin-top: 48px;
  margin-bottom: 12px;
}

#page-404 .date {
  width: 20%;
  float: right;
  text-align: right;
  position: relative;
  top: 1px;
  color: #bbb;
}

/*Transitions*/
/* Post Navigation */
#post-nav {
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: space-between; /* 将项目均匀分布在主轴上 */
  align-items: center; /* 在交叉轴上居中对齐项目 */
  text-align: center;
  font-weight: 500;
  margin: 3em 0;
}

#post-nav .nav-prev,
#post-nav .nav-next {
  flex: 1; /* 允许导航项目根据可用空间进行伸缩 */
  position: relative;
}

#post-nav .nav-prev a,
#post-nav .nav-next a {
  display: inline;
  padding: 10px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FandolKai, serif;
  position: relative;  /*添加相对定位以定位竖线*/ 
}

#post-nav .nav-prev {
  text-align: left;
}

#post-nav .nav-next {
  text-align: right;
}

#post-nav .nav-prev a:hover{
  position: relative;
  inset: 1px 0 0 1px;
}

#post-nav .nav-next a:hover{
  position: relative;
  inset: 1px 0 0 1px;
}

/*footnotes*/

.side {
    width: 200px;
    margin: 0 auto;

    p {
      margin: 0;
    }
}

.side-right {
    float: right;
    clear: right;
    margin-right: calc(-200px - 2em);
    /*background-color: white;*/

    p {
        font-size: .9rem;
        font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FandolKai, serif;
    }
}

.footnotes {
  ol li p {
    margin: 0;
  }
  hr {
    border: none;
    border-top: 1px solid var(--border);
  }
}

.footnote-ref {
  box-shadow: none !important;
}

.footnote-backref {
  box-shadow: none !important;
}

.note-ref {
    cursor: pointer;
    border: none;
    box-shadow: none !important;
    &:hover {
        box-shadow: none;
        border: none;
    }
}

.bg-number, .note-ref:has(+ .side:hover) {
    font-size: .9rem;
    background: white;
    filter: invert(1);
    opacity: .6;
    /*border-bottom: dashed 1px black;*/
    /*padding: 1px 5px;
    border-radius: 5px;*/
}

@media (max-width: 1280px) {
    .side {
        width: 100%;
        padding: 0 0;/*这里将2em改为0em，正常了一点*/
    }

    .side-right {
        font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FandolKai, serif;
        float: none;
        clear: both;
        margin: 1em auto;
        background: lightyellow;
    }
}

@media (min-width: 1281px) {
    .note-ref { cursor: pointer; }
    .note-ref:hover ~ .side {
        display: inline-block;
        background-color: lightyellow;
        position: absolute;
        margin-left: 1rem;
        padding: .5rem;
        box-sizing: content-box;
    }
}
