<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "head.html" . }}
    <script src="https://cdn.jsdelivr.net/npm/@xiee/utils/js/sidenotes.min.js" defer></script>
  </head>

  <body>
    {{ partial "navigation.html" . }}

    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
    
   <!-- {{ partial "music" . }}--><!--2023.8.1在此添加音乐Aplayer-->
    
   <!-- {{ partial "script" . }}--><!--2023.8.1在此添加气泡channel-->

    {{ partial "footer.html" . }}
  </body>
</html>
