<footer id="footer">

    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}

    <div class="copyright">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright 
       {{ now.Format "2006"}} 
       <span class="split">
        {{ partial "svgs/heart.svg" (dict "fill" "#bbbbbb" "width" 15 "height" 15 ) }}
       </span>
       {{ .Site.Params.Author }}
    {{ end }}
    </div>

<!-- 2023.8.2添加总文章数与总字数 -->
共 {{ len (where .Site.RegularPages "Section" "posts" ) }} 篇博文
{{$scratch := newScratch}}
{{ range (where .Site.Pages "Kind" "page" )}}
    {{$scratch.Add "total" .WordCount}}
{{ end }}
总计 {{$scratch.Get "total" }} 字

    {{ if ne .Site.Params.showPowerBy false }}
      <div class="powerby">
        {{ i18n "poweredBy" | safeHTML }}
      </div>
    {{ end }}

</footer>

{{ range .Site.Params.customJS }}
    {{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}
        <!-- remote js -->
        <script src="{{ . }}"></script>
    {{ else }}
        <!-- local js -->
        <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
{{ end }}
