<header class="profile">
    {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
        </a>
    {{ else }}
        <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
    {{ end }}

    <h1>{{ .Site.Title }}</h1>
    
    {{ with .Site.Params.Bio }}
      <h2>{{ . | markdownify }}</h2>

<!--2023.8.1添加打字机特效-->
<div id="text">

</div>
</body>
<script>
  let divTyping = document.getElementById('text')
  let i = 0,
    timer = 0,
    str = '人需要烧过一遍，才能确信自我。'

  function typing () {
    if (i <= str.length) {
      divTyping.innerHTML = str.slice(0, i++) + '_'
      timer = setTimeout(typing, 90)
    }
    else {
      divTyping.innerHTML = str//结束打字,移除 _ 光标
      clearTimeout(timer)
    }
  }
  typing()
</script>
<br/>
<!--2023.8.1添加打字机特效-->

    {{ end }}
</header>